.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

/* color dark-2 */
.dark-1 {
    color: #131313;
}
/* color dark-2 */
.dark-2 {
    color: #424242;
}
/* color dark-3 */
.dark-3 {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-color {
    color: #FF900E;
}
.btn-primary {
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    height: 60px;
    width: 180px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;


}


/* header area style */
.navbar {
    justify-content: space-between;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.navbar-title {
    font-size: 2.8rem;
    font-weight: 800;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

/* banner style */
.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 50px;
}
.banner-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 100px;
}
.banner-description {
    font-size: 1rem;
    font-weight: 400;
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner-img {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 50px;
}


/* Main Section styles */

/* quick-lisk-banner styles */
.quick-list-banner {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    gap: 80px;
}
.quick-list-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    border-radius: 10px;
}
.quick-lisk-title {
    font-size: 2.8rem;
    font-weight: 600;
}
.blackcolor, .colorful {
    font-weight: 800;
}
.quick-lisk-description {
    max-width: 540px;
    margin-bottom: 40px;
}

/* feature-section styles */
.features-section {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1440px;
    width: 100%;
    /* align-items: center; */
    gap: 120px;
}
.features-title {
    font-size: 2.8rem;
    font-weight: 800;
    border-left: #FF900E solid 5px;
    padding-left: 20px;
}
.feature-badgh {
    width: 340px;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
    font-family: "Work Sans", sans-serif;
    transform: translate(-80px, -150px);
}
.feature-badgh > h4 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0 auto;

}
.feature-badgh > span {
    font-size: 1.5rem;
    font-weight: 600;

}
.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.features > div {
    margin-left: 30px;
}
.feature {
    margin-bottom: 80px;
}

/* responsive media quary */

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .banner-img {
        max-width: 100%;
    }
    .nav-links {
        gap: 15px;
    }
    .quick-list-banner {
        flex-direction: column;
        margin: 0 auto;
        max-width: 540px;
        width: 100%;
        gap: 30px;
    }
    .quick-list-banner-img {
        grid-template-columns: repeat(1, 1fr);
        max-width: 540px;
        width: 100%;
        margin: none;
    }
    .quick-lisk-title {
        margin: none;
    }

    .features-section {
        flex-direction: column;
        gap: 30px;
    }
    .imgandbtn > img {
        max-width: 576px;
        width: 100%;
    }
    .feature-badgh {
    transform: none;
    margin: 0 auto;
    margin-top: 30px;
    }
}